target/
.classpath
.project
.idea
*.iml
.settings
**/*.class
**/*.jar
**/*.pyc
*.log
*.DS_Store
tree*.txt
ttree_*.txt
syncToVm28.sh
config.dump
dist
*.pyc
*.egg-info
*.egg
.cache
version.meta
.java-version
